---
  BasedOnStyle: Google
  AccessModifierOffset: '-2'
  AlignTrailingComments: 'true'
  AllowAllParametersOfDeclarationOnNextLine: 'false'
  AlwaysBreakTemplateDeclarations: 'No'
  BreakBeforeBraces: Attach
  ColumnLimit: '100'
  ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
  IncludeBlocks: Regroup
  IndentPPDirectives: AfterHash
  IndentWidth: '4'
  NamespaceIndentation: All
  BreakBeforeBinaryOperators: None
  BreakBeforeTernaryOperators: 'true'
  AlwaysBreakTemplateDeclarations: 'Yes'
...
