name: Style

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      - name: Install format dependencies
        run: |
          choco install llvm --version 15.0.1 -y
          choco install ninja -y
          pip3 install cmake_format==0.6.11 pyyaml

      - name: configure
        run: cmake -G Ninja -S . -B build -DTP_BUILD_EXAMPLES=OFF

      - name: check style
        run: cmake --build build --target check-format
